{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}
        Final Project
    {% endblock %}</title>
    <script>
        window.APP = {
            user: null
        }
        window.URLS = {
            index: "{% url 'frontend:index' %}",
            login: "{% url 'frontend:users-login' %}",
            register: "{% url 'frontend:users-register' %}",
            userDetail: "{% url 'frontend:users-detail' %}",
            usersList: "{% url 'frontend:users-list' %}",
            teamsCreate:"{% url 'frontend:teams-create' %}",

            loginAPI: "{% url 'users:login' %}",
            logoutAPI: "{% url 'users:logout' %}",
            userDetailAPI: "{% url 'users:detail' %}",
            refreshAPI: "{% url 'users:refresh' %}",
            userUpdateAPI: "{% url 'users:update' %}",
            usersListAPI: "{% url 'users:list' %}",
            usersDeleteAPI: "{% url 'users:delete' 'EMAIL_PLACEHOLDER' %}",
            teamsCreateAPI: "{% url 'teams:create' %}",
        }
    </script>
    <script defer src="{% static 'js/auth.js' %}"></script>
    <script defer src="{% static 'js/api.js' %}"></script>
    <script defer src="{% static 'js/jwt.js' %}"></script>
    <script defer src="{% static 'js/navbar.js' %}"></script>
</head>
<body>
<header>
    <nav>
        <ul id="navbar">
        </ul>
    </nav>
</header>
<main>
    {% block content %}

    {% endblock %}
</main>
</body>
</html>