{% extends 'base.html' %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
    <h1>Главная страница</h1>

    <div id="apps-links"></div>

    <script>
        document.addEventListener('DOMContentLoaded', async () => {
            if (!Auth.isAuthenticated()) {
                return;
            }

            const payload = getJwtPayload();

            if (!payload) {
                Auth.logout();
                return;
            }

            if (payload.role === 'admin') {
                html = `
                    <li><a href="${URLS.usersList}">Список пользователей</a></li>
                    <li><a href="${URLS.teamsCreate}">Создать команду</a></li>
                    <li><a href="${URLS.teamsList}">Список команд</a></li>
                    <li><a href="${URLS.tasksAdminList}">Список всех задач</a></li>
                `;
            }
            html += '</ul>';
            document.getElementById('apps-links').innerHTML = html;
        });
    </script>
{% endblock %}