{% extends 'base.html' %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
    <h1>Главная страница</h1>

    <div id="apps-links"></div>

    <script>
        document.addEventListener('DOMContentLoaded', async () => {
            if (!Auth.isAuthenticated()) {
                return;
            }

            const payload = getJwtPayload();

            if (!payload) {
                Auth.logout();
                return;
            }

            if (payload.role === 'admin') {
                document.getElementById('apps-links').innerHTML = `
            <h3>Доступные разделы</h3>
            <ul>
                <li>
                    <a href="${URLS.usersList}">
                        Список пользователей
                    </a>
                </li>
            </ul>
        `;
            }
        });
    </script>
{% endblock %}